<ul class="inline-list">
  <li><%= link_to "Skills", resume_skills_path(@resume) %></li>
  <li><%= link_to "Education", resume_schools_path(@resume) %></li>
  <li><%= link_to "Work Experience", resume_experiences_path(@resume) %></li>
  <li><%= link_to "Hobbies", resume_hobbies_path(@resume) %></li>
  <li><%= link_to "References", resume_references_path(@resume) %></li>
</ul>
