<%= render 'shared/navigation' %>

<div class="medium-2 columns">
    <img class="th left" src= "image.jpg" height="150" width="150" />
</div>
<div class="medium-10 columns">
    <h1><%= "#{@resume.user.first_name} #{@resume.user.last_name}" %></h1>
    <ul class="no-bullet">
    <li><%= @resume.user.phone %></li>
    <li><%= @resume.user.email %></li>
    <li><%= @resume.user.address %></li>
    <li><%= @resume.user.city + ", " + @resume.user.state + " " + @resume.user.zip_code %></li>
    </ul>
</div>
<hr />

<div class="row">
  <div class="medium-8 columns medium-centered">
    <% if @resume.objective %>
        <section id="objective">
          <h2>Objective</h2>
          <hr />
          <p><%= @resume.objective.description %></p>
        </section>
    <% end %>

    <% if @skills.any? %>
        <section id="skills">
          <h2>Skills</h2>
          <hr />
          <% @skills.each do |skill| %>
            <p><strong><%= skill.title %> - </strong><%= skill.description %></p>
          <% end %>
        </section>
    <% end %>
    
    <% if @schools.any? %>
        <section id="education">
          <h2>Education</h2>
          <hr />
          <% @schools.each do |school| %>
            <h3><%= school.name %> <small><%= school.degree %> Graduated <%= school.year_graduated %></small></h3>
          <% end %>
        </section>
    <% end %>
    
    <% if @jobs.any? %>
        <section id="work">
          <h2>Work Experience</h2>
          <hr />
          <% @jobs.each do |job| %>
            <h3><%= job.job_title %> <small><%= job.company %>, <%= job.city %>, <%= job.state %> <%= job.phone %></small></h3>
            <p><%= job.responsibilities %></p>
            <% job.projects.each do |project| %>
              <p><strong><%= project.name %></strong> - <%= project.description %></p>
            <% end %>
          <% end %>
        </section>
    <% end %>

    <% if @hobbies.any? %>
        <section id="hobbies">
          <h2>Hobbies</h2>
          <hr />
          <% @hobbies.each do |hobby| %>
            <p><strong><%= hobby.title %></strong> - <%= hobby.description %></p>
          <% end %>
        </section>
    <% end %>

    <% if @references.any? %>
        <section id="references">
          <h2>References</h2>
          <hr />
          <% @references.each do |reference| %>
            <p>
            <strong><%= reference.name %></strong> - <%= reference.relationship %><br/>
            <%= reference.company %><br />
            <%= reference.phone %><br />
            <%= reference.email %>
            </p>
          <% end %>
      
        </section>
    <% end %>
    
    <% @customs.each do |custom| %>
      <section id="custom-<%= custom.id %>">
        <h2><%= custom.title %></h2>
        <hr />
        <p>
          <%= custom.description.html_safe %>
        </p>

      </section>
    <% end %>
  </div>
</div>
