<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
        <h1><%= link_to "Home", root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if logged_in? %>
        <li><%= link_to "Log Out", logout_path %></li>
        <li><%= link_to "<i class=\"fi-list\"></i> Dashboard".html_safe, edit_resume_path(current_resume) %>
        <li><%= link_to "<i class=\"fi-torso\"></i> Profile".html_safe, edit_user_path(current_user) %>
      <% else %>
        <li><%= link_to "Login", login_path %></li>
        <li><%= link_to "Register", register_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
