<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Rails Resume" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <header>
      <%= render 'layouts/navigation' %>
    </header>

    <main class="row">
     <div class="medium-12 columns">
       <%= yield %>
     </div>
    </main>

    <footer>
      <%= render 'layouts/footer' %>
    </footer>
    <%= render 'layouts/modal' %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
